.superpowers/
shape
shape.exe
*.out
dist/

gui/build/bin/
gui/frontend/dist/*
!gui/frontend/dist/.gitkeep
gui/frontend/node_modules/
gui/frontend/wailsjs/
gui/frontend/package.json.md5
gui/frontend/.vscode/

npm/bin/shape
npm/bin/shape.exe
npm/node_modules/
